<!DOCTYPE html>
<html>
    <head>
        <title>Base</title>
        <link href="{{ url_for('static', path='assets/favicon.ico')}}" rel="icon" type="image/x-icon">
        <link href="{{ url_for('static', path='styles/main.css') }}" rel="stylesheet">
    </head>


    <body class="background-colour">
      
      {% block javascript %}
      <script type="text/javascript">
          {% include "js/logout.js" %}
      </script>
      {% endblock %}

      <div>
        <a href="/">
          <div class="div-box" style="background-color: darkslategray;">
              <h3>Home</h3>
          </div>
        </a>

        <a href="profile">
          <div class="div-box">
            <p>Profile</p>
          </div>
        </a>
        
        <a href="login">
          <div class="div-box">
            <p>Login</p>
          </div>
        </a>

        <a href="register">
          <div class="div-box">
            <p>Register</p>
          </div>
        </a>

        <div class="div-box dang-button" onclick="logoutButton()">
          <p>LOGOUT</p>
        </div>
        <h1 id="logoutStatus" style="color: red; text-align: center;"></h1>

      </div>

    </body>
</html>
