<!DOCTYPE html>
<html>
    <head>
        <title>Media Service</title>
        <link href="{{ url_for('static', path='styles/main.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='assets/favicon.ico')}}" rel="icon" type="image/x-icon">
    </head>
    <body class="background-colour">
        <div>
            <a href="/base">
                <div class="div-box" style="background-color: darkslategray;">
                    <h3>Base</h3>
                </div>
            </a>

            <a href="pictures">
                <div class="div-box">
                    <p> Pictures</p>
                </div>
            </a>
            <a href="music">
                <div class="div-box">
                    <p>Music</p>
                </div>
            </a>
            <a href="videos">
                <div class="div-box">
                    <p>Videos</p>
                </div>
            </a>
            <a href="textfiles">
                <div class="div-box">
                    <p>Text</p>
                </div>
            </a>
            <a href="torrents">
                <div class="div-box">
                    <p>Torrents</p>
                </div>
            </a>

            <a href="parsers">
                <div class="div-box">
                    <p>Parsers</p>
                </div>
            </a>

            <a href={{viewtube}}>
                <div class="div-box">
                    <p>Viewtube</p>
                </div>
            </a>

        </div>
    </body>
</html>
