<!DOCTYPE html>
<html>
    <head>
        <title>Media Service</title>
        <link href="{{ url_for('static', path='styles/main.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='assets/favicon.ico')}}" rel="icon" type="image/x-icon">
    </head>
    <body class="background-colour">
        <div>
            <a href="pictures">
                <div class="div-box">
                    <p> Pictures</p>
                </div>
            </a>
            <a href="music">
                <div class="div-box">
                    <p>Music</p>
                </div>
            </a>
            <a href="videos">
                <div class="div-box">
                    <p>Videos</p>
                </div>
            </a>
        </div>
    </body>
</html>
