<!DOCTYPE html>
<html>
    <head>
        <title>Media Service</title>
        <!-- <link rel="stylesheet" type="text/css" href="./styles/main.css"> -->
        <link href="{{ url_for('static', path='main.css') }}" rel="stylesheet">
    </head>


    <body class="background-colour">
        <div>
            <a href="/">
                <div class="div-box" style="background-color: darkslategray;">
                    <h1>Home</h1>
                </div>
            </a>
            <a href="pictures">
                <div class="div-box">
                    <p> Pictures</p>
                </div>
            </a>
            <a href="videos">
                <div class="div-box">
                    <p>Videos</p>
                </div>
            </a>
            <a href="music">
                <div class="div-box">
                    <p>Music</p>
                </div>
            </a>
            <a href="other">
                <div class="div-box">
                    <p>Other</p>
                </div>
            </a>
        </div>
    </body>
</html>
