<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link href="{{ url_for('static', path='assets/favicon.ico')}}" rel="icon" type="image/x-icon">
        <link href="{{ url_for('static', path='styles/main.css') }}" rel="stylesheet">
    </head>


    <body class="background-colour">
        {% block javascript %}
        <script type="text/javascript">
            {% include "js/login.js" %}
        </script>
        {% endblock %}

        <div>
            <a href="/">
                <div class="div-box" style="background-color: darkslategray;">
                    <h3>Home</h3>
                </div>
            </a>
            <a href="/base">
                <div class="div-box" style="background-color: darkslategray;">
                    <h3>Base</h3>
                </div>
            </a>
        </div>

        <div class="center-screen">
            <h1>Login</h1>
            <p>Username:</p>
            <input id="login">
            
            <p>Password</p>
            <input type="password" id="password">
            
            <div>
                <br>
                <button onclick="loginButton()">Submit</button>
            </div>

            <h1 id="responseStatus"></h1>
        </div>
    </body>
</html>
