<!DOCTYPE html>
<html>
    <head>
        <title>Music - {{directory}}</title>
        <link href="{{ url_for('static', path='styles/main.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='styles/music.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='styles/buttons.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='assets/favicon.ico')}}" rel="icon" type="image/x-icon">
    </head>

    <body class="background-colour">
        <div>
            <a href="/">
                <div class="div-box" style="background-color: darkslategray;">
                    <h3>Home</h3>
                </div>
            </a>
            <a href="/music">
                <div class="div-box" style="background-color: darkslategray;">
                    <h3>Music</h3>
                </div>
            </a>
        </div>
        
        <div class="simple-audio-player" id="simp" data-config='{"shide_top":false,"shide_btm":false,"auto_load":false}'>
            <div class="simp-playlist">
              <ol>
                {% for each in list %}
                <li>
                    <span class="simp-source" data-src="{{ url_for('mus', path=each['path']) }}">
                        {{each["name"]}}
                    </span>
                    <span class="simp-desc">
                        {{each["dir_name"]}}
                    </span>
                </li>
                {% endfor %}
              </ol>
            </div>
            <div class="simp-footer"></div>
          </div>

        {% block javascript %}
        <script type="text/javascript">
            const cookiename = "{{directory}}";
            {% include "js/cookies.js" %}
            {% include "js/music_player.js" %}
        </script>
        {% endblock %}
        


    </body>
</html>
