<!DOCTYPE html>
<html>
    <head>
        <title>Music - {{directory}}</title>
        <link href="{{ url_for('static', path='styles/main.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='styles/music.css') }}" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
        <link href="{{ url_for('static', path='styles/buttons.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='assets/favicon.ico')}}" rel="icon" type="image/x-icon">
    </head>


    {% block javascript %}
    <script type="text/javascript">
        const cookiename = "{{directory}}";
        {% include "js/cookies.js" %}
        {% include "js/music_player.js" %}
    </script>
    {% endblock %}


    <body class="background-colour">
        <div>
            <a href="/">
                <div class="div-box" style="background-color: darkslategray;">
                    <h3>Home</h3>
                </div>
            </a>
            <a href="/music">
                <div class="div-box" style="background-color: darkslategray;">
                    <h3>Music</h3>
                </div>
            </a>
        </div>
        
        <div id="aWrap">
            <!--Current track-->
            <div id="currentTrack">

            </div>
            
            <!-- (A) PLAY/PAUSE BUTTON -->
            <div id="aPlay" class="button-play">
            </div>
      
            <!-- (B) TIME -->
            <div id="aCron">
              <span id="aNow"></span> / <span id="aTime"></span>
            </div>
      
            <!-- (C) SEEK BAR -->
            <input id="aSeek" type="range" min="0" value="0" step="1" disabled>
      
            <!-- (D) VOLUME SLIDE -->
            <span id="aVolIco" class="material-icons">volume_up</span>
            <input id="aVolume" type="range" min="0" max="1" value="1" step="0.1" disabled>
      
            <!-- (E) PLAYLIST -->
            <div id="aList"></div>
          </div>

          {% for each in list %}
          <script type="text/javascript">
            var name = "{{ url_for('mus', path=each["name"]) }}";
            var src = "{{ url_for('mus', path=each["path"]) }}";
            var album = "{{ url_for('mus', path=each["dir_name"]) }}";
            var media_src = src.replace('/mus/', '/media_mus/');
            console.log("media_src", media_src);
            playlist.push(
                {
                    "name": name.substr(name.lastIndexOf("/") + 1),
                    "src": media_src,
                    "album": album
                }
            );
          </script>
          {% endfor %}

    </body>
</html>
