<!DOCTYPE html>
<html>
    <head>
        <title>Pictures - {{directory}}</title>
        <link href="{{ url_for('static', path='assets/favicon.ico')}}" rel="icon" type="image/x-icon">
        <link href="{{ url_for('static', path='styles/main.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='styles/pictures.css') }}" rel="stylesheet">
    </head>

    {% block javascript %}
    <script type="text/javascript">
        {% include "js/pictures.js" %}
    </script>
    {% endblock %}

    <body class="background-colour">
        <div id="header">
            <a href="/">
                <div class="div-box" style="background-color: darkslategray;">
                    <h3>Home</h3>
                </div>
            </a>
            <a href="/pictures">
                <div class="div-box" style="background-color: darkslategray;">
                    <h3>Pictures</h3>
                </div>
            </a>
        </div>

        {% for each in list %}
        <script>
            var name = "{{each['name']}}"
            var src = "{{ url_for('pic', path=each['path']) }}";
            picList.push(
                {
                    "name": name,
                    "src": src
                }
            );

        </script>
        
        {% endfor %}

        <header>
            <h1>{{directory}}</h1>
        </header>
 
        <!-- <div class="nav-bar">
            <div>
                <a href="#header">
                    <img class="img-res" src="{{ url_for('static', path='assets/buttons/button_up_up.png') }}"/>
                </a>
            </div>
            <div>
                <img id="btn-scroll-up" class="img-res" src="{{ url_for('static', path='assets/buttons/button_up.png') }}"/>
            </div>

            <div>
                <img id="btn-scroll-down" class="img-res" src="{{ url_for('static', path='assets/buttons/button_down.png') }}"/>
            </div>
            <div>
                <a href="#footer">
                    <img class="img-res" src="{{ url_for('static', path='assets/buttons/button_down_down.png') }}"/>
                </a>
            </div>
        </div> -->
        <div class="nav-bar">
            <a href="#header"><div class="div-res">OnTop</div></a>
            <a href="#footer"><div class="div-res">OnBot</div></a>
        </div>

        <div>
            <ul id="picblock">

            </ul>
        </div>
        <footer id="footer">
            <div class="div-box" onclick="addNextPics()">
                More
            </div>
            <div class="div-box" onclick="addAllPics()">
                All
            </div>
        </footer>
    </body>
</html>
