<!DOCTYPE html>
<html>
    <head>
        <title>Base</title>
        <link href="{{ url_for('static', path='assets/favicon.ico')}}" rel="icon" type="image/x-icon">
        <link href="{{ url_for('static', path='styles/main.css') }}" rel="stylesheet">
    </head>


    <body class="background-colour">
      
      {% block javascript %}
      <script type="text/javascript">
          {% include "js/profile.js" %}
      </script>
      {% endblock %}

      <div>
        <a href="/">
          <div class="div-box" style="background-color: darkslategray;">
              <h3>Home</h3>
          </div>
        </a>

        <a href="/base">
            <div class="div-box" style="background-color: darkslategray;">
                <h3>Base</h3>
            </div>
        </a>
      </div>

      <div class="center-screen">
        <h1>Profile</h1>
        <div>
          <p>Username: "{{username}}"</p>
          <p>Last auth: "{{previous_auth}}"</p>

          <div class="div-box dang-button" onclick="syncDevices()">
            <p>Sync last data</p>
          </div>

        </div>
        
      </div>

    </body>
</html>
