<!DOCTYPE html>
<html>
    <head>
        <title>Text - {{directory}}</title>
        <link href="{{ url_for('static', path='assets/favicon.ico')}}" rel="icon" type="image/x-icon">
        <link href="{{ url_for('static', path='styles/main.css') }}" rel="stylesheet">
    </head>

    {% block javascript %}
    <script type="text/javascript">
        {% include "js/download_zip.js" %}
    </script>
    {% endblock %}


    <body class="background-colour">
        <div id="header">
            <a href="/">
                <div class="div-box" style="background-color: darkslategray;">
                    <h3>Home</h3>
                </div>
            </a>
            <a href="/textfiles">
                <div class="div-box" style="background-color: darkslategray;">
                    <h3>Text</h3>
                </div>
            </a>
        </div>
        <div class="button-box" onclick="downloadButtonText('Text/' + '{{directory}}' + '/')">
            Download zip
        </div>

        <header>
            <h1>{{directory}}</h1>
        </header>

        <div>
            <ol>
                {% for each in list %}
                <li>
                    <a href="{{ url_for('text', path=each["path"]) | safe }}" target="_blank" type="text"
                      <span>
                        {{each["name"]}}
                      </span>
                    </a>
                </li>
                {% endfor %}
            </ol>
        </div>
    </body>
</html>

