<!DOCTYPE html>
<html>
    <head>
        <title>Videos</title>
        <link href="{{ url_for('static', path='styles/main.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='styles/videos.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='assets/favicon.ico')}}" rel="icon" type="image/x-icon">
    </head>
    {% block javascript %}
    <script type="text/javascript">
        const cookiename = "{{directory}}"
        {% include "js/cookies.js" %}
        {% include "js/video_player.js" %}
    </script>

  {% endblock %}

    <body class="background-colour">
        <div>
            <a href="/">
                <div class="div-box" style="background-color: darkslategray;">
                    <h3>Home</h3>
                </div>
            </a>
            <a href="/videos">
                <div class="div-box" style="background-color: darkslategray;">
                    <h3>Videos</h3>
                </div>
            </a>
        </div>

        <header>
            <h1>{{directory}}</h1>
        </header>
 
        <div class="left-align">
            <video controls autoplay="autoplay" id="vVid"></video>
            <div id="vList"></div>
        </div>
        {% for each in list %}
        <script type="text/javascript">
          var name = "{{ url_for('vid', path=each["name"]) }}";
          var src = "{{ url_for('vid', path=each["path"]) }}";
          playlist.push({"name": name.substr(name.lastIndexOf("/") + 1),
            "src": src});
        </script>
        {% endfor %}
      
    </body>
</html>
