<!DOCTYPE html>
<html>
    <head>
        <title>Videos</title>
        <link href="{{ url_for('static', path='styles/main.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='styles/videos.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', path='assets/favicon.ico')}}" rel="icon" type="image/x-icon">
    </head>
    {% block javascript %}
    <script type="text/javascript">
        const cookiename = "{{directory}}"
        {% include "js/cookies.js" %}
        {% include "js/video_player.js" %}
        {% include "js/node_modules/shaka-player/dist/shaka-player.compiled.js" %}
    </script>
    {% endblock %}

    <body class="background-colour">
        <div>
            <a href="/">
                <div class="div-box" style="background-color: darkslategray;">
                    <h3>Home</h3>
                </div>
            </a>
            <a href="/videos">
                <div class="div-box" style="background-color: darkslategray;">
                    <h3>Videos</h3>
                </div>
            </a>
        </div>

        <header>
            <h1>{{directory}}</h1>
        </header>
 
        <div class="left-align">
            <video 
                id="my-video"
                controls
                autoplay="autoplay"
                preload="auto"
                >
            </video>
            <div id="vList"></div>
        </div>



        {% for each in list %}
        <script type="text/javascript">
          var name = "{{ url_for('vid', path=each["name"]) }}";
          var src = "{{ url_for('vid', path=each["path"]) }}";
          playlist.push({"name": name.substr(name.lastIndexOf("/") + 1),
            "src": src});
        </script>
        {% endfor %}

        <!--shaka-player-->
        <script type="text/javascript">
            function initApp() {
                // Install built-in polyfills to patch browser incompatibilities.
                shaka.polyfill.installAll();

                // Check to see if the browser supports the basic APIs Shaka needs.
                if (shaka.Player.isBrowserSupported()) {
                    // Everything looks good!
                    initPlayer();
                } else {
                    // This browser does not have the minimum set of APIs we need.
                    console.error('Browser not supported!');
                }
            }

            async function initPlayer() {
                // Create a Player instance.
                const video = document.getElementById('my-video');
                const player = new shaka.Player(video);

                // Attach player to the window to make it easy to access in the JS console.
                window.player = player;

                // Listen for error events.
                player.addEventListener('error', onErrorEvent);

                // Try to load a manifest.
                // This is an asynchronous process.
                try {
                    await player.load(manifestUri);
                    // This runs if the asynchronous load is successful.
                    console.log('The video has now been loaded!');
                } catch (e) {
                    // onError is executed if the asynchronous load fails.
                    onError(e);
                }
            }

            function onErrorEvent(event) {
                // Extract the shaka.util.Error object from the event.
                onError(event.detail);
            }

            function onError(error) {
                // Log the error.
                console.error('Error code', error.code, 'object', error);
            }

            document.addEventListener('DOMContentLoaded', initApp);
        </script>

    </body>
</html>
