.button-play{
    background: url(../assets/buttons/button_play.png);
}
.button-pause{
    background: url(../assets/buttons/button_square.png);
}

.button-next{
    background: url(../assets/buttons/button_next.png);
}

.button-back{
    background: url(../assets/buttons/button_back.png);
}

.button-mute{
    background: url(../assets/buttons/button_mute.png);
}

.button-volume{
    background: url(../assets/buttons/button_volume.png);
}

.button-shuffle{
    background: url(../assets/buttons/button_shuffle.png);
}
