.background-colour{
    background-color: #353839;
    color: white;
}

.div-box{
    border: 2px groove white;
    margin: 1%;
    padding: 1%;
    text-align: center;
}

.div-box:hover{
    color: #913831;
}

.image-preview{
    height: 600px;
    width: 600px;
}

.center-screen {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}


a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width:1000px) and (orientation:portrait){
    .div-box{
        padding: 5%;
        margin: 5%;
        
    }
    body{
        font-size: xx-large;
    }
    .image-preview{
        height: 800px;
        width: 800px;
    }
}
