/* (B) WRAPPER */
#aWrap {
    font-family: arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
}

.wrapper {
    background: #484848;
    position: absolute;
    max-width: 60vw;
    min-width: 60vw;
    left: 20%;
    right: 20%;
    padding: 10px;
    border-radius: 10px;
}

.current-item {
    padding: 10px;
}

.size-button {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.size-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* (C) PLAY/PAUSE BUTTON */
#aPlay {

}

/* (D) TIME */
#aCron {
    font-size: 14px;
    color: #cbcbcb;
    margin: 0 10px;
}

/* (E) RANGE SLIDERS */
/* (E1) HIDE DEFAULT */
#aWrap input[type="range"] {
    box-sizing: border-box;
    appearance: none;
    border: none;
    outline: none;
    box-shadow: none;
    width: 150px;
    padding: 0;
    margin: 0;
    background: 0;
}

#aWrap input[type="range"]::-webkit-slider-thumb {
    appearance: none;
}

/* (E2) CUSTOM SLIDER TRACK */
#aWrap input[type=range]::-webkit-slider-runnable-track {
    background: #626262;
}

#aWrap input[type=range]::-moz-range-track {
    background: #626262;
}

/* (E3) CUSTOM SLIDER BUTTON */
#aWrap input[type=range]::-webkit-slider-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 0;
    background: #fff;
}

#aWrap input[type=range]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 0;
    background: #fff;
}

/* (F) VOLUME */
#aVolIco {
    margin: 0 10px;
}

/* (G) PLAYLIST */
#aList {
    width: 100%;
    padding: 10px;
    margin: 10px;
    color: #7e7e7e;
    background: #353839;
    
    max-height: 40vh;
    scrollbar-color:#73797f #2f3841;
    overflow-y:auto;
    overflow-x: auto; 

}

#aList ol::-webkit-scrollbar-track{
    background-color:#2f3841;
}
#aList ol::-webkit-scrollbar{
    width:6px;
    background-color:#2f3841;
}
#aList ol::-webkit-scrollbar-thumb{
    background-color:#73797f;
}

.aRow {
    cursor: pointer;
    padding: 10px 0;
}

.aRow.now {
    color: #913831;
}

.color-mod {
    background-color: #17212b;
}
