.nav-bar{
    position: fixed;
    right: 20px;
    bottom: 5px;
}

.div-res{
    margin-bottom: 20px;
    font-size: large;
    color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
}

.img-fit{
    max-width: 90vw;
    max-height: 90vh;

}
