/* .inline{
    display: inline-block;
    width: 70%;
}

.inline ul li {
 }
  */
/* (A) MATERIAL ICONS */



/* 
.material-icons {
    font-size: 28px;
    color: #fff;
  } */
  
  /* (B) WRAPPER */
  .center-align{
    align-items: center;
    position: absolute;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;

  }
  #vWrap {
    font-family: arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-bottom: 50px;
    background: #484848;
  }
    /* (I) PLAYLIST */
  #vList {
    position: relative;
    display: inline-block;
    float: right;
    border-radius: 5px;
    color: #7e7e7e;
    background: #323232;
    max-height: 70vh;
    min-height: 70vh;
    /* scrollbar-color:#73797f #2f3841;
    overflow-y:auto;
    overflow-x: auto; */
  }
  .vRow {
    cursor: pointer;
    padding: 10px 0;
  }
  .vRow.now {
    color: #913831;
  }

  /* #vList ol::-webkit-scrollbar-track{
      background-color:#2f3841;
  }
  #vList ol::-webkit-scrollbar{
      width:6px;
      background-color:#2f3841;
  }
  #vList ol::-webkit-scrollbar-thumb{
      background-color:#73797f;
  } */
  
  /* (C) VIDEO */
  #vVid {
    border: solid black 2px;
    border-radius: 1px;
    min-width: 70vw;
    min-height: 70vh;
    max-width: 70vw;
    max-height: 70vh;
    cursor: pointer;
  }
  
  /* (D) PLAY/PAUSE BUTTON */
  #vPlay {
    /* padding: 10px;
    margin: 0;
    background: 0;
    border: 0; */
    cursor: pointer;
  }
  
  /* (E) TIME */
  #vCron {
    font-size: 14px;
    color: #cbcbcb;
    margin: 0 10px;
  }
  
  /* (F1) RANGE SLIDERS */
  /* (F1) HIDE DEFAULT */
  #vWrap input[type="range"] {
    box-sizing: border-box;
    appearance: none;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    background: 0;
  }
  #vWrap input[type="range"]::-webkit-slider-thumb {
    appearance: none;
  }
  
  /* (F2) CUSTOM SLIDER TRACK */
  #vWrap input[type=range]::-webkit-slider-runnable-track {
    background: #626262;
    border-radius: 10px;
  }
  #vWrap input[type=range]::-moz-range-track {
    background: #626262;
    border-radius: 10px;
  }
  
  /* (F3) CUSTOM SLIDER BUTTON */
  #vWrap input[type=range]::-webkit-slider-thumb {
    width: 16px; height: 16px;
    border-radius: 50%;
    border: 0;
    background: #fff;
  }
  #vWrap input[type=range]::-moz-range-thumb {
    width: 16px; height: 16px;
    border-radius: 50%;
    border: 0;
    background: #fff;
  }
  
  /* (G) SEEK BAR */
  #vSeek {
    width: 180px;
  }
  
  /* (H) VOLUME */
  #vVolume {
    width: 100px;
  }
  #vVolIco {
    margin: 0 10px;
    cursor: pointer;
  }
  

